.features {
  margin-bottom: 70px;

  &__items {
    display: flex;
    justify-content: space-around;
    background-color: $secondary-bg;
    height: 170px;
  }

  &__item {
    position: relative;
    padding-top: 36px;
    flex-basis: 33%;
    border-right: 1px solid $border;

    &:last-child {
      border-right: none;
    }

    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      left: 0;
    }
  }

  &__item-box {
    margin: 0 auto;
    width: fit-content;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
    }

    &--support {
      padding-left: 55px;

      .features__description {
        width: 200px;
      }

      &::before {
        background-image: url("../../images/icons/support.svg");
        top: 11px;
        width: 50px;
        height: 53px;
        left: -19px;
      }
    }

    &--delivery {
      padding-top: 8px;
      padding-left: 57px;

      &::before {
        background-image: url("../../images/icons/delivery.svg");
        top: 20px;
        width: 53px;
        height: 38px;
        left: -21px;
      }
    }

    &--payment {
      padding-left: 30px;
      .features__description {
        width: 220px;
      }

      &::before {
        background-image: url("../../images/icons/credit-card.svg");
        top: 10px;
        width: 53px;
        height: 53px;
        left: -50px;
      }
    }
  }

  &__title {
    display: block;
    font-size: 18px;
    line-height: 38px;
    color: #414141;
    @extend %dmsans-700;
  }

  &__description {
    display: block;
    color: #585858;
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
  }
}
