.trends {
  margin-bottom: 186px;

  &__title {
    margin-bottom: 32px;
  }

  &__filter-btns {
    margin-bottom: 78px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}
