$default: #7b7b7b;
$text: #436372;
$secondary: #243f4d;
$bg: #a3bbc8;
$secondary-bg: #fef7f0;
$border: #e8e4df;
$bg-secondary: #edf1f4;
$bg-accent: #fcd7b6;

%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

%popins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

%popins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

%dmsans-400 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}
