@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  min-height: 144px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 45px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    & + & {
      margin-left: 30px;
    }
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
  }
}

.user-nav {
  display: flex;

  &__box {
    display: flex;
  }

  &__link {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &--search,
    &--more {
      border-radius: 50%;
      height: 51px;
      width: 51px;
    }

    &--search {
      background-color: #edf1f4;

      &::after {
        content: "";
        position: absolute;
        background-image: url("../../images/icons/search.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 15px;
        height: 16px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &--more {
      background-color: #a3bbc8;

      &::after {
        content: "";
        position: absolute;
        background-image: url("../../images/icons/more.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__box {
    width: 178px;
    height: 51px;
    border-radius: 25px;
    background-color: #fcd7b6;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      background-color: #fde7d3;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: 9px 0;
    }
  }

  &__num {
    background-color: #fff;
    color: #99a5ac;
    font-size: 10px;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    top: 22%;
    left: 52%;
    @extend %dmsans-400;
  }
}

.top-slider {
  &__inner {
    background-image: url("../../images/decor/top-slider-bg.png");
    background-repeat: no-repeat;
    background-color: #fcd7b6;
    background-position: 80% center;
  }

  &__item {
    padding-top: 215px;
    padding-bottom: 280px;
    margin-left: 300px;
    margin-right: 50px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    width: 430px;
    @extend %rubik-500;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    @extend %rubik-400;
    width: 370px;
    margin-bottom: 15px;
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    cursor: pointer;
    background-color: #a3bbc8;
    padding: 24px 25px;
    width: 200px;
    display: block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../../images/icons/right-arrow.svg");
      background-repeat: no-repeat;
      right: 18px;
      top: 50%;
      width: 22px;
      height: 10px;
      transform: translateY(-50%);
    }
  }

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%, 0);

    li {
      padding: 0 5px;
      line-height: 0;

      button {
        padding: 0;
        opacity: 0.4;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
      }

      &.slick-active {
        button {
          background-color: #fff;
          color: #243f4d;
          opacity: 1;
        }
      }
    }
  }
}

.info {
  background-color: #fef7f0;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 70px;

  &__item {
    position: relative;
    width: 200px;

    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
    }

    &--support {
      &::before {
        background-image: url("../../images/icons/support.svg");
        top: 10px;
        left: -70px;
        width: 50px;
        height: 53px;
      }
    }

    &--delivery {
      &::before {
        background-image: url("../../images/icons/delivery.svg");
        top: 12px;
        left: -70px;
        width: 53px;
        height: 38px;
      }
    }

    &--payment {
      width: 200px;
      &::before {
        background-image: url("../../images/icons/credit-card.svg");
        top: 12px;
        left: -70px;
        width: 53px;
        height: 53px;
      }
    }
  }

  &__title {
    font-size: 18px;
    line-height: 40px;
    color: #414141;
    @extend %dmsans-700;
  }

  &__text {
    color: #585858;
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
  }
}

.trends-info {
  margin-bottom: 186px;
}

.trends {
  &__title {
    margin-bottom: 30px;
  }

  &__btns {
    display: flex;
    justify-content: center;
    margin-bottom: 78px;
  }

  &__btn {
    border: unset;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #8b8b8b;
    @extend %dmsans-700;
    padding: 0;
    transition: all 0.3s;

    &:hover {
      color: #191919;
    }
  }

  &__btn {
    & + & {
      margin-left: 28px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }

  &__item {
    height: 380px;
    width: 270px;
    padding: 30px 20px 35px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    font-size: 16px;
    line-height: 40px;
    position: relative;
    overflow: hidden;

    &:hover {
      .trends__item-links {
        transform: translate(-50%, -153px);
      }
    }
  }

  &__item-img {
    margin: 0 auto;
  }

  &__item-links {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 300%);
    transition: all 0.4s;
  }
  &__item-link {
    width: 45px;
    height: 45px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    transition: all 0.3s;

    path {
      transition: all 0.3s;
    }

    & + & {
      margin-left: 15px;
    }

    &:hover {
      background-color: #a3bbc8;
      path {
        fill: #fff;
      }
    }
  }

  &__item-title {
    color: #243f4d;
    @extend %dmsans-500;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__item-price {
    @extend %dmsans-700;
    color: #a3bbc8;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.mixitup-control-active {
  color: #191919;
}

.footer-top {
  margin-top: 80px;
  padding-bottom: 70px;
  display: flex;
  border-bottom: 1px solid #dae4e9;

  &__contact {
    margin-right: 100px;
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  .address {
    font-style: normal;
    width: 200px;
    font-size: 14px;
    line-height: 32px;
  }

  &__address,
  &__email,
  &__phone {
    display: block;
    color: $default;
  }

  &__address {
    width: 177px;
    @extend %rubik-400;
    line-height: 24px;
  }

  &__services {
    margin-right: 170px;
    width: 125px;
  }

  &__account {
    margin-right: 200px;
  }

  &__nav,
  &__account,
  &__services,
  &__item-form {
    padding-top: 15px;
  }

  &__title {
    color: #1f2044;
    @extend %dmsans-700;
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__link {
    display: block;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: $default;
  }

  &__text {
    margin-bottom: 25px;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: $default;
    width: 234px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    border: none;
    max-width: 170px;
    width: 100%;
    padding: 12px 10px 14px 15px;
    height: 37px;
    background: #fef7f0;

    &::placeholder {
      font-size: 12px;
      @extend %dmsans-400;
      color: #234969;
    }
  }

  &__form-btn {
    background-color: #a3bbc8;
    color: #f4f7f8;
    font-size: 14px;
    line-height: 21px;
    height: 37px;
    border: none;
    padding: 0 16px;
    cursor: pointer;
  }
}

.footer-bottom {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__copy {
    line-height: 32px;
  }
}

.bottom-menu {
  &__list {
    display: flex;
  }

  &__item {
    padding: 0 13px;
    position: relative;

    &:last-of-type {
      padding-right: 0;
    }
  }

  &__item {
    & + &::before {
      position: absolute;
      content: "";
      width: 1px;
      left: 0;
      top: 0;
      bottom: 0;
      margin: 5px 0;
      background-color: $default;
    }
  }

  &__link {
    color: $default;
    line-height: 32px;
    position: relative;
  }
}

@import "media";
