.articles {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: $secondary-bg;
    top: 323px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__inner {
    position: relative;
  }

  &__title {
    text-align: left;
    margin-bottom: 53px;
  }

  &__link {
    @extend %dmsans-700;
    font-size: 16px;
    color: #262626;
    position: absolute;
    right: 2px;
    top: 6px;
    padding-right: 24px;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../../images/icons/right-angel.svg");
      background-repeat: no-repeat;
      width: 6px;
      height: 12px;
      top: 50%;
      right: -3px;
      transform: translate(-50%, -50%);
    }
  }

  &__box {
    display: flex;
    margin-left: -2px;
  }
}

.article {
  border-radius: 5px;
  width: 370px;
  position: relative;
  z-index: 3;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    text-align: left;
  }

  &__img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  &__tag {
    text-transform: uppercase;
    position: absolute;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    @extend %popins-700;
    background-color: $bg;
    padding: 5px 32px;
    border-radius: 25px;
    top: 234px;
    left: 27px;
  }

  &__content {
    min-height: 170px;
    padding: 32px 28px 25px;
    padding-bottom: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    width: 290px;
    font-size: 18px;
    color: #262626;
    @extend %dmsans-500;
    line-height: 22px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
  }

  &__footer {
    border-top: 1px solid #e0e0e0;
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 17px;
  }

  &__date {
    padding-left: 25px;
    margin-right: 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 18px;
      height: 20px;
      top: -5px;
      background-image: url("../../../images/icons/calendar.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__author {
    padding-left: 22px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 18px;
      height: 20px;
      top: -4px;
      background-image: url("../../../images/icons/user.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
