.product-item {
  display: flex;
  height: 380px;
  width: 270px;
  padding: 30px 20px 35px;
  background-color: #fff;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  font-size: 16px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  &--list {
    height: 500px;
    padding: 0;
    background: transparent;
    border-radius: 0;
    box-shadow: unset;
    width: 100%;
    margin-bottom: 38px;

    &:last-child {
      margin-bottom: 0;
    }

    .product-item__img {
      margin: 0;
      border: 2px solid #f2f2f2;
      object-fit: scale-down;
      width: 370px;
      flex: none;
      margin-right: 56px;
    }

    .product-item__links {
      display: none;
    }

    .product-item__box {
      display: none;
    }

    .product-item__content-box {
      display: block;
    }

    .product-item__label {
      display: block;
      margin-bottom: 15px;
      position: relative;
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      left: unset;
      bottom: unset;
      transform: unset;
      font-size: 40px;
      color: #333333;
    }

    .product-item__price {
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      display: block;
      margin-bottom: 18px;
      margin-top: 32px;
      position: relative;
      font-weight: 400;
      left: unset;
      bottom: unset;
      transform: unset;
      font-size: 30px;
      line-height: 45px;
      color: #333333;
      padding-left: 3px;
    }
  }

  &:hover &__links {
    transform: translate(-50%, -153px);
  }

  &__img {
    margin: auto auto 124px;
  }

  &__links {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 300%);
    transition: transform 0.4s;
  }

  &__link {
    width: 45px;
    height: 45px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    transition: background-color 0.3s, fill 0.3s;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    path {
      transition: background-color 0.3s;
    }

    &:hover {
      background-color: $bg;
      path {
        fill: #fff;
      }
    }
  }

  &__content-box {
    display: none;
  }

  &__wrapper-box {
    padding-top: 87px;
  }

  &__label {
    color: $secondary;
    @extend %dmsans-500;
    font-weight: 600;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 16px;
    line-height: 40px;
  }

  &__price {
    @extend %dmsans-700;
    color: $bg;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $secondary;
    margin-bottom: 26px;
    padding-left: 6px;
  }

  &__btn {
    text-transform: uppercase;
    border: unset;
    border-radius: 6px;
    color: #fff;
    background-color: $bg;
    font-size: 15px;
    line-height: 30px;
    padding: 10px 53px 9px 52px;
    margin-left: 1px;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
