.product-item {
  display: flex;
  height: 380px;
  width: 270px;
  padding: 30px 20px 35px;
  background-color: #fff;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  font-size: 16px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  &:hover &__links {
    transform: translate(-50%, -153px);
  }

  &__img {
    margin: auto auto 124px;
  }

  &__links {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 300%);
    transition: transform 0.4s;
  }

  &__link {
    width: 45px;
    height: 45px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    transition: background-color 0.3s, fill 0.3s;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    path {
      transition: background-color 0.3s;
    }

    &:hover {
      background-color: $bg;
      path {
        fill: #fff;
      }
    }
  }

  &__label {
    color: $secondary;
    @extend %dmsans-500;
    font-weight: 600;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 16px;
    line-height: 40px;
  }

  &__price {
    @extend %dmsans-700;
    color: $bg;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
