.related {
  margin-bottom: 115px;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 79px;
  }

  &__title {
    color: $secondary;
  }

  &__top-btn {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid $bg-secondary;
    background: transparent;
    margin-right: 16px;
    transition: border-color 0.4s;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-color: $bg;
    }

    &--left::before,
    &--right::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 22px;
      height: 9px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--left::before {
      background-image: url("../../../images/icons/prev-arrow.svg");
    }

    &--right::before {
      background-image: url("../../../images/icons/next-arrow.svg");
    }
  }

  &__slider {
    .slick-list {
      height: 400px;
    }

    .slick-slide.slick-active {
      width: 300px;
      padding: 0 15px;
    }

    .slick-next,
    .slick-prev {
      width: 50px;
      height: 50px;
      border-radius: 5px;
      cursor: pointer;
      border: 2px solid $bg-secondary;
      background: transparent;
      margin-right: 16px;
      transition: border-color 0.4s;
      position: absolute;
      top: -112px;
      z-index: 5;

      &:hover {
        border-color: $bg;
      }
      path {
        fill: $bg;
      }
    }

    .slick-next {
      right: 54px;
    }
    .slick-prev {
      right: -16px;
    }
  }
}
